@use "/styles/color";
@use "/styles/typography";
@use "/styles/misc";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #F6F7FA;
  padding: 32px 0;

  .menu {
    @include misc.circle();
  }
  .notifications {
    @include misc.circle();
    user-select: none;
    cursor: pointer;
  }
  .avatar {
    @include misc.circle();
  }

  .title {
    @include typography.sub-heading;
    margin: 0 64px 0 32px;
  }

  .links {
    display: flex;
    gap: 32px;
    align-items: center;
    flex: 1;

    & > * {
      @include typography.small-paragraph;
      color: color.$grey;
      user-select: none;
    }
  }

  .actions {
    display: flex;
    gap: 32px;
  }

  .popUnder {
    margin-top: 5px;
  }
}
