@use '/styles/color';

.root {
  display: flex;
  flex-direction: column;
  width: 480px;

  input {
    width: 100%;
    &::placeholder {
      color: color.$grey-light;
    }
  }

  .email {
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .password {
    margin-bottom: 32px;
  }

  .error {
    color: color.$bad;
    margin: 0;
    padding-bottom: 5px;
  }

  .signUp {
    font-size: 14px;
    color: color.$grey;
  }
}


