.root {
  position: relative;
  display: flex;
  justify-content: center;

  .popUnder {
    position: absolute;
    top: 100%;
  }

  .background {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
