@use "sass:math";
@use "/styles/color";
@use "/styles/typography";

.root {
  position: relative;
  .badge {
    @include typography.text;

    background-color: color.$primary;
    color: color.$primary-contrast;

    font-size: 9px;
    font-weight: bold;
    text-align: center;
    user-select: none;

    position: absolute;
    top: 0;
    right: 0;

    $horizontal-padding: 2.5px;
    $size: 15px;
    border-radius: math.div($size, 2);
    padding: 0 $horizontal-padding;
    min-width: $size - $horizontal-padding*2;
    min-height: $size;
    line-height: $size;
  }
}
