@use "./section";
@use "/styles/button";
@use "/styles/color";

.root {
    @include section.root;

    .title {
        @include section.title;
    }
    .subtitle {
        @include section.subtitle;
    }
    .row {
        @include section.row;
    }

    .key {
        width: 100%;
        input {
            width: 100%;
        }
        .checkWrapper {
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                right: -30px;
                height: 100%;
                display: flex;
                align-items: center;
                color: color.$good;
                content: "Check"; /* TODO Add check character */
            }
        }
    }
    .ghost {
        @include button.ghost;
    }
    .ghostSecondary {
        @include button.ghost-secondary;
    }

    .copied {
        color: color.$good;
    }
}