@use "./section";
@use "/styles/button";
@use "/styles/misc";

.root {
    @include section.root;

    .title {
        @include section.title;
    }
    .subtitle {
        @include section.subtitle;
    }
    .row {
        @include section.row;
        label {
            flex: 1;
        }
    }

    .avatar {
        div {
            display: flex;
            gap: 15px; /* TODO Check size in figma */
        }
        img {
            @include misc.circle(); /* TODO Check size in figma */
        }
    }
    .delete > div {
        display: flex;
        align-items: center;
        span {
            @include section.subtitle;
            flex: 1;
        }
        button {
            border: none;
            background: none;
        }
    }

    button {
        @include button.ghost;

        &.secondary {
            @include button.ghost-secondary;
        }
    }
}