@use "styles/color";
@use "styles/typography";

@mixin root {
  margin-bottom: 20px;
}

@mixin title {
  margin: 0;
}

@mixin subtitle {
  @include typography.small-paragraph;
  color: color.$grey;
  margin-bottom: 32px;
}

@mixin row {
  $gap: 24px;

  display: flex;
  flex-direction: row;
  gap: $gap;
  margin-bottom: $gap;

  & + hr {
    margin: 0 0 $gap 0;
  }
}
