@use "styles/color";
@use "styles/typography";

@mixin root {
  margin-bottom: 20px;
}

@mixin title {
  margin: 0; /* TODO Check figma */
}

@mixin subtitle {
  @include typography.small-paragraph;
  color: color.$grey;
  margin-bottom: 40px; /* TODO Check figma */
}

@mixin row {
  $margin-bottom: 30px; /* TODO Check figma */

  display: flex;
  flex-direction: row;
  gap: 30px; /* TODO Check figma */
  margin-bottom: $margin-bottom;

  & + hr {
    margin: 0 0 $margin-bottom 0;
  }
}
