@use '/styles/color';
@use '/styles/typography';
@use '/styles/button';
@use '/styles/input';

.root {
  h1 {
    @include typography.heading-1;
  }
  h2 {
    @include typography.heading-2;
  }
  h3 {
    @include typography.sub-heading;
  }
  p {
    @include typography.paragraph;
  }
  span, div, a {
    @include typography.small-paragraph;
  }
  a{
    color: color.$primary;
    text-decoration: none;
  }

  button, input[type="submit"] {
    @include button.primary;
  }

  input:not([type="submit"]) {
    @include input.text;
  }
  label {
    @include input.label;
  }

}
