@use 'color';
@use 'typography';
@use 'font';

@mixin primary {
  @include typography.button-heading;
  @include font.Inter;

  padding: 0 24px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: none;
  cursor: pointer;

  background-color: color.$primary;
  color: color.$primary-contrast;

  img {
    padding-right: 8px;
  }

  &:disabled {
    background-color: color.$primary-faded;
    cursor: not-allowed;
  }
}

@mixin ghost {
  @include typography.button-heading;

  padding: 17px 24px;

  border-radius: 8px;
  border: 1px solid color.$grey-faint;
  cursor: pointer;

  background-color: color.$primary-contrast;
  color: color.$primary;

  &:disabled {
    color: color.$primary-faded;
    cursor: not-allowed;
  }
}

@mixin ghost-secondary {
  @include ghost;
  color: color.$grey;

  &:disabled {
    color: color.$grey-light;
    cursor: not-allowed;
  }
}
