$primary: #1A88E8;
$primary-faded: rgba(26, 136, 232, 0.1);
$primary-contrast: white;

$good: #16A63E;
$good-contrast: white;

$bad: #F64444;
$bad-contrast: white;

$grey-dark: #344562;
$grey: #868DA1;
$grey-light: #BABCD1;
$grey-faint: #EFEFF8;
