@use 'color';
@use 'typography';

@mixin text {
  @include typography.text;

  height: 48px;
  padding: 0 16px;
  border: 1px solid color.$grey-faint;
  border-radius: 8px;

  box-sizing: content-box;
  font-size: 14px;

  &:disabled {
    color: color.$grey-light;
    background-color: color.$grey-faint;
  }
}

@mixin label {
  @include typography.button-heading;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
