@mixin circle(
  $size: 50px, /* TODO Check in figma */
  $box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) /* TODO Check in figma */
) {
  border-radius: 100%;
  background-color: white;
  box-shadow: $box-shadow;
  height: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}