@mixin circle(
  $size: 48px
) {
  border-radius: 100%;
  background-color: white;
  height: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@mixin box-shadow() {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05)
}
