@use 'color';
@use 'font';

@mixin text {
  @include font.Inter;
  line-height: 1;
  letter-spacing: 0.01em;
  color: color.$grey-dark;
}

@mixin heading-1 {
  @include text;
  @include font.Inter-Bold;
  font-size: 48pt;
}

@mixin heading-2 {
  @include text;
  @include font.Inter-Bold;
  font-size: 24pt;
}

@mixin sub-heading {
  @include text;
  @include font.Inter-SemiBold;
  font-size: 16pt;
}

@mixin button-heading {
  @include text;
  @include font.Inter-SemiBold;
  font-size: 14pt;
}

@mixin paragraph {
  @include text;
  font-size: 14pt;
  line-height: 1.4;
}

@mixin small-paragraph {
  @include text;
  font-size: 12pt;
}
